In [1]:
import data_pipeline

In [2]:
report_results = {}

In [3]:
#Daten einspeisen, lesbar machen und bereinigen
uuid = 'f437137a-0d5b-46f7-b204-8ca4b94177aa'
drive_id = '033'

dataset = data_pipeline.get_data(uuid, drive_id)
display(dataset.head(5))

,result,table,_start,_stop,_time,_value,_field,_measurement,drive_id,engine_load,engine_rpm,fuel_consumption_rt,latitude,longtitude,throttle_pos,vehicle_speed
0,last,0,2024-08-20T15:29:03.167108163Z,2024-08-27T15:29:03.167108163Z,2024-08-24T10:40:53.602Z,2024-08-24T12:40:52.218,timestamp,f437137a-0d5b-46f7-b204-8ca4b94177aa,033,13,2C1E,0.00,48.5408026,10.0961644,48,83
1,last,1,2024-08-20T15:29:03.167108163Z,2024-08-27T15:29:03.167108163Z,2024-08-24T10:46:20.823Z,2024-08-24T12:46:20.229,timestamp,f437137a-0d5b-46f7-b204-8ca4b94177aa,033,15,1A7A,0.00,48.612926,10.2072591,22,41
2,last,2,2024-08-20T15:29:03.167108163Z,2024-08-27T15:29:03.167108163Z,2024-08-24T10:50:35.847Z,2024-08-24T12:50:35.269,timestamp,f437137a-0d5b-46f7-b204-8ca4b94177aa,033,15,1B3A,0.00,48.619138,10.1807215,22,1B
3,last,3,2024-08-20T15:29:03.167108163Z,2024-08-27T15:29:03.167108163Z,2024-08-24T10:23:14.924Z,2024-08-24T12:23:14.305,timestamp,f437137a-0d5b-46f7-b204-8ca4b94177aa,033,16,16F4,0.00,48.4630569,10.0927306,20,0C
4,last,4,2024-08-20T15:29:03.167108163Z,2024-08-27T15:29:03.167108163Z,2024-08-24T10:34:39.085Z,2024-08-24T12:34:38.296,timestamp,f437137a-0d5b-46f7-b204-8ca4b94177aa,033,17,1662,0.00,48.4646191,10.1173238,21,42

In [4]:
dataset = data_pipeline.rename_columns(dataset)
display(dataset.head(5))

,datetime,engine_load,engine_rpm,latitude,longitude,throttle_pos,vehicle_speed
0,2024-08-24T12:40:52.218,13,2C1E,48.5408026,10.0961644,48,83
1,2024-08-24T12:46:20.229,15,1A7A,48.612926,10.2072591,22,41
2,2024-08-24T12:50:35.269,15,1B3A,48.619138,10.1807215,22,1B
3,2024-08-24T12:23:14.305,16,16F4,48.4630569,10.0927306,20,0C
4,2024-08-24T12:34:38.296,17,1662,48.4646191,10.1173238,21,42

In [5]:
dataset = data_pipeline.convert_values(dataset)
display(dataset.head(5))

,datetime,engine_load,engine_rpm,latitude,longitude,throttle_pos,vehicle_speed
0,2024-08-24T12:40:52.218,7,2823,48.5408026,10.0961644,28,131
1,2024-08-24T12:46:20.229,8,1694,48.612926,10.2072591,13,65
2,2024-08-24T12:50:35.269,8,1742,48.619138,10.1807215,13,27
3,2024-08-24T12:23:14.305,8,1469,48.4630569,10.0927306,12,12
4,2024-08-24T12:34:38.296,9,1432,48.4646191,10.1173238,12,66

In [6]:
dataset = data_pipeline.sort_by_datetime(dataset)
display(dataset.head(5))

,datetime,engine_load,engine_rpm,latitude,longitude,throttle_pos,vehicle_speed
602,2024-08-24 12:21:32.830,18,1520,48.463858,10.0960619,15,12
1071,2024-08-24 12:21:35.773,32,791,48.4637962,10.095806,13,11
1218,2024-08-24 12:21:36.772,36,769,48.4637962,10.095806,12,11
748,2024-08-24 12:21:37.623,23,723,48.4637962,10.095806,12,11
1117,2024-08-24 12:21:38.855,33,680,48.4637962,10.095806,14,10

In [7]:
dataset = data_pipeline.add_calculations(dataset)
display(dataset.head(5))

,datetime,engine_load,engine_rpm,latitude,longitude,throttle_pos,vehicle_speed,allowed_speed,delta_engine_rpm,delta_engine_load,delta_vehicle_speed,delta_throttle_pos,delta_allowed_speed
602,2024-08-24 12:21:32.830,18,1520,48.463858,10.0960619,15,12,10,0,0,0,0,0.0
1071,2024-08-24 12:21:35.773,32,791,48.4637962,10.095806,13,11,10,-729,14,-1,-2,0.0
1218,2024-08-24 12:21:36.772,36,769,48.4637962,10.095806,12,11,10,-22,4,0,-1,0.0
748,2024-08-24 12:21:37.623,23,723,48.4637962,10.095806,12,11,10,-46,-13,0,0,0.0
1117,2024-08-24 12:21:38.855,33,680,48.4637962,10.095806,14,10,10,-43,10,-1,2,0.0

In [8]:
dataset = dataset.drop(columns=['delta_allowed_speed'])
display(dataset.head(10))

,datetime,engine_load,engine_rpm,latitude,longitude,throttle_pos,vehicle_speed,allowed_speed,delta_engine_rpm,delta_engine_load,delta_vehicle_speed,delta_throttle_pos
602,2024-08-24 12:21:32.830,18,1520,48.463858,10.0960619,15,12,10,0,0,0,0
1071,2024-08-24 12:21:35.773,32,791,48.4637962,10.095806,13,11,10,-729,14,-1,-2
1218,2024-08-24 12:21:36.772,36,769,48.4637962,10.095806,12,11,10,-22,4,0,-1
748,2024-08-24 12:21:37.623,23,723,48.4637962,10.095806,12,11,10,-46,-13,0,0
1117,2024-08-24 12:21:38.855,33,680,48.4637962,10.095806,14,10,10,-43,10,-1,2
1393,2024-08-24 12:21:39.508,48,727,48.4637962,10.095806,15,10,10,47,15,0,1
1409,2024-08-24 12:21:40.547,50,790,48.4637962,10.095806,15,11,10,63,2,1,0
1339,2024-08-24 12:21:41.510,43,844,48.4637415,10.095594,15,12,10,54,-7,1,0
1285,2024-08-24 12:21:42.503,40,857,48.4637415,10.095594,14,13,10,13,-3,1,-1
1222,2024-08-24 12:21:43.486,36,860,48.4637415,10.095594,14,13,10,3,-4,0,0

In [9]:
#dataset = dataset.drop()
display(dataset.head(10))

,datetime,engine_load,engine_rpm,latitude,longitude,throttle_pos,vehicle_speed,allowed_speed,delta_engine_rpm,delta_engine_load,delta_vehicle_speed,delta_throttle_pos
602,2024-08-24 12:21:32.830,18,1520,48.463858,10.0960619,15,12,10,0,0,0,0
1071,2024-08-24 12:21:35.773,32,791,48.4637962,10.095806,13,11,10,-729,14,-1,-2
1218,2024-08-24 12:21:36.772,36,769,48.4637962,10.095806,12,11,10,-22,4,0,-1
748,2024-08-24 12:21:37.623,23,723,48.4637962,10.095806,12,11,10,-46,-13,0,0
1117,2024-08-24 12:21:38.855,33,680,48.4637962,10.095806,14,10,10,-43,10,-1,2
1393,2024-08-24 12:21:39.508,48,727,48.4637962,10.095806,15,10,10,47,15,0,1
1409,2024-08-24 12:21:40.547,50,790,48.4637962,10.095806,15,11,10,63,2,1,0
1339,2024-08-24 12:21:41.510,43,844,48.4637415,10.095594,15,12,10,54,-7,1,0
1285,2024-08-24 12:21:42.503,40,857,48.4637415,10.095594,14,13,10,13,-3,1,-1
1222,2024-08-24 12:21:43.486,36,860,48.4637415,10.095594,14,13,10,3,-4,0,0

In [10]:
from utils.osm import location_services as ls

In [11]:
pos_from = {'lat': float(dataset['latitude'][:1]), 'long': float(dataset['longitude'][:1])}
report_results['from'] = ls.get_location(ls, position=pos_from)

pos_to = {'lat': float(dataset['latitude'][len(dataset)-1]), 'long': float(dataset['longitude'][len(dataset)-1])}
report_results['to'] = ls.get_location(ls, position=pos_to)

print(report_results['from'], report_results['to'])

C:\Users\NilsO\AppData\Local\Temp\ipykernel_16508\3719886766.py:1: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  pos_from = {'lat': float(dataset['latitude'][:1]), 'long': float(dataset['longitude'][:1])}

Unterelchingen Nerenstetten

In [12]:
display(dataset.head(10))

,datetime,engine_load,engine_rpm,latitude,longitude,throttle_pos,vehicle_speed,allowed_speed,delta_engine_rpm,delta_engine_load,delta_vehicle_speed,delta_throttle_pos
602,2024-08-24 12:21:32.830,18,1520,48.463858,10.0960619,15,12,10,0,0,0,0
1071,2024-08-24 12:21:35.773,32,791,48.4637962,10.095806,13,11,10,-729,14,-1,-2
1218,2024-08-24 12:21:36.772,36,769,48.4637962,10.095806,12,11,10,-22,4,0,-1
748,2024-08-24 12:21:37.623,23,723,48.4637962,10.095806,12,11,10,-46,-13,0,0
1117,2024-08-24 12:21:38.855,33,680,48.4637962,10.095806,14,10,10,-43,10,-1,2
1393,2024-08-24 12:21:39.508,48,727,48.4637962,10.095806,15,10,10,47,15,0,1
1409,2024-08-24 12:21:40.547,50,790,48.4637962,10.095806,15,11,10,63,2,1,0
1339,2024-08-24 12:21:41.510,43,844,48.4637415,10.095594,15,12,10,54,-7,1,0
1285,2024-08-24 12:21:42.503,40,857,48.4637415,10.095594,14,13,10,13,-3,1,-1
1222,2024-08-24 12:21:43.486,36,860,48.4637415,10.095594,14,13,10,3,-4,0,0

In [13]:
report_results['date'] = dataset['datetime'].iloc[0].strftime('%d-%m.%Y')
report_results['start'] = dataset['datetime'].iloc[0].strftime('%H:%M:%S')
report_results['end'] = dataset['datetime'].iloc[-1].strftime('%H:%M:%S')

time_diff = abs(dataset['datetime'].iloc[-1] - dataset['datetime'].iloc[0])

hours, rest = divmod(time_diff.total_seconds(), 3600)
minutes, _ = divmod(rest, 60)

report_results['drive_time'] = f'{int(hours):02}:{int(minutes):2}'

print(report_results['drive_time'])

00:29

In [14]:
dataset_backup = dataset

In [15]:
dataset = dataset_backup

In [16]:
dataset = dataset.drop(columns=['datetime'])

In [17]:
strong_brk = 0
strong_acc = 0

for index, row in dataset.iterrows():
    if row['delta_engine_rpm'] < -400:
        strong_brk += 1
    if row['delta_engine_rpm'] > 400:
        strong_acc +=  1

report_results['strong_braking_count'] = strong_brk
report_results['strong_accel_count'] = strong_acc

In [18]:
print(report_results)

{'from': 'Unterelchingen', 'to': 'Nerenstetten', 'date': '24-08.2024', 'start': '12:21:32', 'end': '12:51:07', 'drive_time': '00:29', 'strong_braking_count': 43, 'strong_accel_count': 41}

In [19]:
import math

def haversine_distance(lat1, lon1, lat2, lon2):
    # Radius der Erde in Kilometern
    R = 6371.0

    # Umwandlung von Grad in Radiant
    lat1_rad = math.radians(float(lat1))
    lon1_rad = math.radians(float(lon1))
    lat2_rad = math.radians(float(lat2))
    lon2_rad = math.radians(float(lon2))

    # Unterschiede in den Koordinaten
    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad

    # Haversine-Formel
    a = math.sin(dlat / 2)**2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    # Entfernung in Kilometern
    distance = (R * c)

    return distance

In [20]:
travel_distances = []

previous_coords = {'lat': 0.0, 'long': 0.0}

for index, row in dataset.iterrows():
    current_coords = {'lat': row['latitude'], 'long': row['longitude']}
    if previous_coords['lat'] == 0.0 or previous_coords['long'] == 0.0:
        travel_distances.append(0.0)
    else:
        temp_distance = haversine_distance(current_coords['lat'], current_coords['long'], previous_coords['lat'], previous_coords['long'])
        travel_distances.append(temp_distance)

    previous_coords = current_coords

report_results['travel_distance'] = round(sum(travel_distances), 1)

print(f"sum: {report_results['travel_distance']}")

sum: 29.9

In [21]:
dataset = dataset.drop(columns=['latitude', 'longitude'])

In [22]:
import numpy as np

for column in dataset.columns:
    if 'delta' not in column:
        report_results[f'avg_{column}'] = np.mean(dataset[column]).round(2)
        print(f"avg {column}: {report_results[f'avg_{column}']}")

avg engine_load: 34.29
avg engine_rpm: 1878.59
avg throttle_pos: 24.15
avg vehicle_speed: 59.91
avg allowed_speed: 62.31

In [23]:
report_results['max_speed'] = max(dataset['vehicle_speed'])

In [24]:
print(report_results)

{'from': 'Unterelchingen', 'to': 'Nerenstetten', 'date': '24-08.2024', 'start': '12:21:32', 'end': '12:51:07', 'drive_time': '00:29', 'strong_braking_count': 43, 'strong_accel_count': 41, 'travel_distance': 29.9, 'avg_engine_load': 34.29, 'avg_engine_rpm': 1878.59, 'avg_throttle_pos': 24.15, 'avg_vehicle_speed': 59.91, 'avg_allowed_speed': 62.31, 'max_speed': 161}

In [25]:
from model import model as mt_rf

In [26]:


model = mt_rf.load_model('multi_target_rf_model_classification.pkl')

In [27]:
dataset['diff_allowed_speed'] = int(0)

for index, row in dataset.iterrows():
    dataset.at[index, 'diff_allowed_speed'] = abs(int(row['allowed_speed']) - int(row['vehicle_speed']))

dataset = dataset.drop(columns=['allowed_speed'])

In [28]:
display(dataset)

,engine_load,engine_rpm,throttle_pos,vehicle_speed,delta_engine_rpm,delta_engine_load,delta_vehicle_speed,delta_throttle_pos,diff_allowed_speed
602,18,1520,15,12,0,0,0,0,2
1071,32,791,13,11,-729,14,-1,-2,1
1218,36,769,12,11,-22,4,0,-1,1
748,23,723,12,11,-46,-13,0,0,1
1117,33,680,14,10,-43,10,-1,2,0
...,...,...,...,...,...,...,...,...,...
710,22,820,12,0,-102,-6,0,-1,10
694,21,807,12,0,-13,-1,0,0,10
702,22,796,12,0,-11,1,0,0,10
705,22,801,12,0,5,0,0,0,10
690,21,806,12,0,5,-1,0,0,10

In [29]:
score = model.predict(dataset[:1])

print(score)

ValueError: The feature names should match those that were passed during fit.
Feature names must be in the same order as they were in fit.